{% extends 'base.html.twig' %}

{% block title %}Hello ExempleModelController!{% endblock %}

{% block body %}
<h1>bonjour je suis la vue ma p'tite poule</h1>
{# <!--{{( dump (livre))}}--> #}
<br>
<h2>Titre: {{livre.Titre}}</h2>
<h2>Résumé: <br>{{livre.Description}}</h2>
{% endblock %}
